body {
    background-color: rgba(255, 255, 255, 0.952);

}

.producto {
    background-color: rgba(167, 167, 167, 0.514);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 10px;
    width: 214px;
    height: auto;
    border-spacing: 5px 5px;
    border: 5px solid rgba(161, 161, 161, 0.281);
    text-align: center;
}

.lista_carrito {
    background-color: rgba(167, 167, 167, 0.514);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 10px;
    width: 170px;
    height: auto;
    border-spacing: 15px 15px;
    border: 5px solid rgba(161, 161, 161, 0.281);
    text-align: center;

}

.btnQuitar,
.btnAgregar {
    text-align: center;
    background-color: #ff6913;
    border-radius: 18px;
    color: black;
    font-size: 21px;
    text-decoration: none;
}

.btnComprar {
    text-align: center;
    background-color: #ff6913;
    border-radius: 18px;
    color: black;
    font-size: 21px;
    text-decoration: none;
    height: 35px;
}

#formBuscar {
    margin: 10px;
}

.inputbuscador {
    background-color: #ff6913;
    color: black;
    font-size: 20px;
}

::placeholder {
    color: black;
}


.img {

    height: 100px;
}

.flex_carrito {
    padding-top: 50px;
    display: flex;
    justify-content: right;
    gap: 40px;
}

#carrito {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

#productos {
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
    font-size: 20px;
    padding-bottom: 30px;
}



* {
    margin: 0;
    padding: 0;
}





.carrito__main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    font-size: 20px;


}

.div__logo {
    display: flex;
    justify-content: center;
    background-color: #ff6913;
    text-align: center;


}

.flex_imagen_logo {
    display: flex;
    justify-content: center;
}

.img__logo {
    text-align: center;
    width: 150px;

}

.enviosgratis {
    color: black;
    font-size: 25px;
    text-align: center;
}

.imgproducto,
.imagenes {
    height: 100px;
}

.div__padding {
    padding-top: 50px;
}